<ng-container
        *ngTemplateOutlet="inventoryTemplate; context: { inventory: $inventory | async, articles: $articles | async }"></ng-container>
<ng-template #inventoryTemplate let-articles="articles" let-inventory="inventory">

    <ul #nav="ngbNav" [(activeId)]="active" class="nav-tabs" ngbNav>
        <li *ngFor="let category of inventory?.categories" [ngbNavItem]="category?.name">
            <button ngbNavLink>
                {{category?.name}}
            </button>
            <ng-template ngbNavContent>
                <div class="container">
                    <div class="row">
                        <div *ngFor="let product of category?.products" class="col-12 col-sm-6 col-md-6 col-lg-3">
                            <div class="card m-3">
                                <img [alt]="product?.name" [src]="product?.image" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product?.name }}</h5>
                                    <p class="card-text">prix: {{ product | priceTTC }} €</p>
                                    <button (click)="addProducts(product)" class="btn btn-primary">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
    <div>
        <div class="text-center my-3">
            <button [disabled]="articles?.length <= 0" [routerLink]="'/cart'" class="btn btn-primary">
                Aller à la page de paiement
            </button>
        </div>
    </div>
</ng-template>