<ng-container *ngTemplateOutlet="cartTemplate; context: { articles: $articles | async }"></ng-container>
<ng-template #cartTemplate let-articles="articles">
    <div *ngIf="articles?.length > 0; else aucunArticles">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Article</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix unitaire</th>
                <th scope="col">TVA</th>
                <th scope="col">HT</th>
                <th scope="col">TTC</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let article of articles; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ article.product.name }}</td>
                <td>{{ article.nb }}</td>
                <td>{{ article.product.price }}€</td>
                <td>{{ article.product.tva }}%</td>
                <td>{{ article.HT }}€</td>
                <td>{{ article.TTC }}€</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="fw-bold">{{total.HT}}€</td>
                <td class="fw-bold">{{total.TTC}}€</td>
            </tr>
            </tbody>
        </table>
        <div class="text-center">
            <button (click)="cancel()" class="btn btn-danger mb-2 me-2">
                ANNULER LA FACTURE
            </button>
            <button (click)="paid(content)" class="btn btn-outline-primary mb-2 me-2">
                REGLER LA FACTURE
            </button>
        </div>
    </div>
</ng-template>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Paiement</h4>
        <button (click)="modal.close('Cross click')" aria-label="Close" class="btn-close" type="button"></button>
    </div>
    <div class="modal-body">
        <p>Souhaitez-vous procéder au paiement?</p>
    </div>
    <div class="modal-footer">
        <button (click)="modal.close('Annuler')" class="btn btn-light" type="button">Annuler</button>
        <button (click)="modal.close('Payer')" class="btn btn-success" type="button">Payer</button>
    </div>
</ng-template>

<ng-template #aucunArticles>
    <div class="container">
        <div class="row text-center">
            <div class="my-3">Aucun article ajouté au panier!</div>
            <div class="my-3">
                <button [routerLink]="'/'" class="btn btn-primary">Aller à l'inventaire</button>
            </div>
        </div>
    </div>
</ng-template>