<ng-container *ngTemplateOutlet="appTemplate; context: { articles: $articles | async }"></ng-container>
<ng-template #appTemplate let-articles="articles">
    <header class="p-3">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a [routerLink]="'/'" class="nav-link px-2">Inventaires</a></li>
                </ul>

                <div class="text-end">
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a [routerLink]="'/cart'" class="nav-link px-2">Panier: {{articles | totalTTC}}€</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <router-outlet></router-outlet>
</ng-template>

<app-toasts aria-atomic="true" aria-live="polite"></app-toasts>